{:hooks
 {:analyze-call
  {com.blockether.spel.core/with-testing-page hooks.com.blockether.spel/with-testing-page
   com.blockether.spel.api/with-page-api     hooks.com.blockether.spel/with-page-api}}

 :linters
 {:clojure-lsp/unused-public-var
  {:level :info
   :exclude-when-defined-by
   #{clojure.test/deftest
     lazytest.core/defdescribe
     com.blockether.spel.allure/defdescribe}}
  :unused-binding {:level :info}
  :unused-import {:level :off}}

 :config-in-comment
 {:linters {:unresolved-symbol {:level :off}}}}
